﻿
@{
    ViewBag.Title = "Order Confirmation";
}

<h2>Order Confirmation</h2>
<h3>Cost: $@ViewBag.Cost</h3>
<h4>Description: @ViewBag.Description</h4>
<a href="@Url.Action("Index", "Order")">
    <button class="btn indigo darken-1">GO BACK</button>
</a>
